---

- name: Fail if required Woodpecker CI server settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) for using this role.
  when: "vars[item] == ''"
  with_items:
    - devture_woodpecker_ci_agent_config_server
    - devture_woodpecker_ci_agent_config_agent_secret
