{#
SPDX-FileCopyrightText: 2022 - 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Woodpecker CI Agent
{% for service in woodpecker_ci_agent_systemd_required_systemd_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in woodpecker_ci_agent_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ woodpecker_ci_agent_identifier }} 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ woodpecker_ci_agent_identifier }} 2>/dev/null'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ woodpecker_ci_agent_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --read-only \
      --network={{ woodpecker_ci_agent_container_network }} \
      --env-file={{ woodpecker_ci_agent_base_path }}/env \
      --mount type=bind,src={{ woodpecker_ci_agent_docker_socket_path }},dst=/var/run/docker.sock \
      --tmpfs=/tmp:rw,noexec,nosuid,size=128m \
      {{ woodpecker_ci_agent_container_image }}

{% for network in woodpecker_ci_agent_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ woodpecker_ci_agent_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ woodpecker_ci_agent_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ woodpecker_ci_agent_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ woodpecker_ci_agent_identifier }} 2>/dev/null'

Restart=always
RestartSec=30
SyslogIdentifier={{ woodpecker_ci_agent_identifier }}

[Install]
WantedBy=multi-user.target
